*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}
body{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    color: #1c1d1f;
}

.nav-container{

    display: flex;
    margin: auto;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 10px whitesmoke ; 
    overflow: hidden;
   
}


.search-bar-container{
    margin: 5px 10px;
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
    
}

.search-bar-container input{

    height: 3px;
    border: 1px solid black;
    border-radius: 100px;
    margin-top: 5px;
    padding: 20px;
    background-color: whitesmoke;
    align-items: center;
    padding-left: 20px;
    width : 90% ; 
    

}

.toogle-button {
    position: absolute;
    top: 1.4rem;
    left: 0.75rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toogle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px solid black;
}


#search-icon{
    position: absolute;
    z-index: 2 ; 
    margin-top: 2px;
    width: 15px;
    cursor: pointer;
}
#search-button {
    position: absolute;
    z-index: 1 ; 
    margin-top: 15px;
    margin-right: 15px;
    width: 15px;
    cursor: pointer ; 
   
}

.logo-container {
    cursor: pointer;
}

.categories-container {

    margin-left: 20px;
    margin-top: 12px;
    cursor: pointer;
    
}
.left-container {

        display: flex;
        padding: 10px;
        margin-right: 20px;
        margin-left: 20px;
        justify-content: space-around;
        align-content: center;
        
   
}


.left-container button {

    
    margin-right: 15px;
    padding : 9px 25px ;
    margin-top: 2px;
    background-color: whitesmoke;
    justify-content: space-between;
    cursor: pointer;
}

.sign-up-container >button {

    background-color: black;
    color: white;
    
}


#business {

    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

#teach {
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer;
}

.shop-icon-container{
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.select-language-container {

    margin-left: 15px;
    width: 50px;
    height: 39px;
    cursor: pointer;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;

}



.alarm-container {

        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        margin-top: 10px;


}

.alarm{
    width: 100%;
}

.text {

    
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem;
    color: black;
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.headline {
    width: 95% ; 
    margin-right: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    
}



.headline-main-text {

    max-width: 80rem;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.25;
    letter-spacing: -.05rem;
    margin-left: 15px;
}

.headline-sub-text {

    margin-top: .8rem;
    max-width: 80rem;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
}


.fields-container {

    display: flex;
    align-content: center;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(130, 130, 130);
    word-spacing: 2px;
    cursor: pointer;
}
.fields-container-inside {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
    color: rgb(130, 130, 130);
    word-spacing: 2px;
    cursor: pointer;
    margin-left: 20px;
}

 .fields-container-inside div + div {

   margin-left: 25px;
   
}

.courses-container {

    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    width: 95%;
    height: auto ; 
    background: white;
    position: absolute;
    border: 1px solid grey;
    overflow: hidden;
    
    
}

.content-text-container {

    margin-top: 50px;
    margin-left: 50px;
}

.header-text-container {

    font-size: 30px;
    margin-bottom: 20px;
}
.par-text-container {

    width: 100%;
}

.explore-python-container {

    width: 170px;
    height: 40px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
}


.courses-names-container{

    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-right: 30px ;
    margin-left: 50px;
    margin-top: 10px;
}

.courses-titles {

    width: 300px;
}

.courses-titles > p {

    font-size: 12px;
    color: gray;
}

#price-div {
    margin-left: 0px;
}

.checked {
    color: orange;
}

.checked-note{
    
    color: coral;
}





  /* META QUERIES */ 

@media screen and (max-width: 1070px) {
    .text{
        height: 80%;
    }
    .headline{
        margin-left: 5%;
    }
    .fields-container-inside{
        flex-direction: column;
        align-content: flex-start;
        margin: 0px;
    }
    .fields-container{
        flex-direction: column;
       
        margin: 0px;
    }
    .fields-container-inside div+div{
        margin: 0px;
    }
}
  
@media screen and (max-width: 900px) {
   
    .search-bar-container {
        display: none;
    }
    #business{
        display: none;
    }
    #teach{
        display: none;
    }
    .shop-icon-container{
        display: none;
    }
    .sign-up-container{
        display: none;
    }
    .login-container{
        display: none;
    }
    .select-language-container{
        display: none;
    }
    .categories-container{
        display: none;
    }
    .logo-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .nav-container{
        display: block;
    }
    .left-container{
        display: block;
    }
    .toogle-button{
        display: flex;
    }
    
    .alarm-container {

        display: flex;
        flex-direction: column-reverse;
        
    }

    .text {

            
        position:relative;
        top: 0%;
        left: 0%;
        width: 100%;
    }

   
    .headline{
        width: 100%;
        margin-left: 0%;
        margin-top: 10%;
    }
    .courses-container{
        width: 100%;
        height: auto;
        margin-left: 0%;
    }
    .fields-container{
        flex-wrap: wrap;
    }


    .courses-names-container{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        
    }

  
   
}

   
 